* {
    margin: 0;
    padding: 0;
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.flex-login{
    @apply flex;
    align-items: center;
    gap: 1vw;
    width: 22vw
}

.login-btn {
    @apply bg-purple px-4 py-3 rounded-3xl my-1 text-sm
}
.background{
    @apply w-screen h-screen bg-black;
}
.glass-background {
    @apply w-screen h-screen absolute;
    backdrop-filter: blur(200px);
}

.input-login {
    @apply rounded-lg border border-black text-sm text-gray outline-none focus:border-[#6843EC];
    width: 22vw;
    padding: 1vh 1vw;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: url('./images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.gradient-border{
    @apply py-3 px-4 rounded-[10px] ;
    border: 1px solid #6843EC;
    background: #19161C;
    box-shadow: 0px 58px 80px 0px rgba(0, 0, 0, 0.16);
    resize: none;
}

.flex-center {
    @apply flex justify-center items-center;
}

.flex-col-between {
    @apply flex flex-col justify-between items-center;
}

.flex-col-center {
    @apply flex flex-col justify-center items-center;
}

.container-content {
    @apply mx-auto;
    width: 80%;
}

.img-pato {
    height: 70vh;
    width: auto;
}

.titleMaster {
    font-family: Poppins;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    background: linear-gradient(90deg, #6135FE 0%, #BEB2EB 38.02%, #6843EC 75.83%, #311C7D 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-gradient{
    background: linear-gradient(90deg,rgba(255, 59, 255, 1), rgba(236, 191, 191, 1), rgba(92, 36, 255, 1), rgba(217, 79, 213, 1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}